{% extends 'base.html.twig' %}

{% block title %}Edit Personnels{% endblock %}

{% block body %}
    <h1>Edit Personnels</h1>

    {{ include('personnels/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_personnels_index') }}">back to list</a>

    {{ include('personnels/_delete_form.html.twig') }}
{% endblock %}
