{% extends 'base.html.twig' %}

{% block title %}New Personnels
{% endblock %}

{% block body %}
    <h1 class=" text-center fst-italic bg-warning">Fiche de Recrutement</h1>

    {{ include('personnels/_form.html.twig') }}

    <a href="{{ path('app_personnels_index') }}">back to list</a>
{% endblock %}
