{% extends 'base.html.twig' %}

{% block title %}Edit Contrats{% endblock %}

{% block body %}
    <h1>Edit Contrats</h1>

    {{ include('contrats/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contrats_index') }}">back to list</a>

    {{ include('contrats/_delete_form.html.twig') }}
{% endblock %}
