{% extends 'base.html.twig' %}

{% block title %}New Contrats{% endblock %}

{% block body %}
    <h1>Create new Contrats</h1>

    {{ include('contrats/_form.html.twig') }}

    <a href="{{ path('app_contrats_index') }}">back to list</a>
{% endblock %}
